<ul>
  <li>
    <%= link_to root_path do %>
      <%= image_tag 'home_icon.svg', alt: 'Home Icon', class: 'icon' %>
      <span>Home</span>
    <% end %>
  </li>
  <li>
    <%= link_to feed_path do %>
      <%= image_tag 'feed_icon.svg', alt: 'Feed Icon', class: 'icon' %>
      <span>Feed</span>
    <% end %>
  </li>  
  <li>
    <a href="#">
      <%= image_tag 'wishlist_icon.svg', alt: 'Wishlists Icon', class: 'icon' %>
      <span>Wishlists</span>
    </a>
  </li>
  <li>
    <a href="#">
      <%= image_tag 'profile_icon.svg', alt: 'Profile Icon', class: 'icon' %>
      <span>Profile</span>
    </a>
  </li>
</ul>

<details>
  <summary>How it works<i class="ai-question-fill"></i></summary>
  <div>
    <p>Inside each <code>&lt;a&gt;</code> element there's a hidden (using transform and opacity) <code>&lt;span&gt;</code> containing the text. Like this: </p>
    <p><pre><code>a span { 
&nbsp;position: absolute;
&nbsp;left: calc(100% + 1.5rem); //Moves it all the way to the right
&nbsp;
&nbsp;opacity: 0;
&nbsp;transform: scale(0);
&nbsp;transform-origin: center left;
&nbsp;transition: .15s ease;
}</code></pre> </p>
    <p>On hover or focus this span becomes visible through a transition of both transform and opacity. Like this:</p>
    <p><pre><code>a:hover span, a:focus span { 
&nbsp;opacity: 1;
&nbsp;transform: scale(1);
}</code></pre> </p>
    <p>The <code>&lt;span&gt;</code> also has a pseudo-element in the shape of a rectangle, but rotated 45 degrees to make it look like a triangle. See the code for more details.</p>
  </div>
</details>
